* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

:root {
    --cor-principal: rgb(61, 156, 144,0.97);
    --cor-hover-butao: #FFE574;
}


body {
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 20px;
}


header {
    background-color: var(--cor-principal);
    color: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}


table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: var(--cor-principal);
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}


button {
    margin-top: 20px;
    padding: 12px 20px;
    background-color: var(--cor-principal);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background-color: var(--cor-hover-butao);
    color: black;
}

@media (max-width: 480px) {
  table {
    width: 100%;
    margin: 0 auto;
    display: block;
    overflow-x: auto;
  }
}

@media (min-width: 481px) and (max-width: 768px) {

}
