* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
 
}

.master{
  border-radius: 10px;
  border: 10px solid rgb(61, 156, 144,0.97);
  padding-bottom: 25px;
  box-shadow: 0px 4px 10px rgba(61, 156, 144,0.2);
  
  
   
}
.atrasHeader{
  background-color: rgb(61, 156, 144,0.97); ;
}
:root {
    --cor-principal: rgb(61, 156, 144,0.97);
    --cor-hover-butao: #FFE574;
}
.caminho{
  position: absolute;
  left: 94%;
  top: 7%;
  
  border: 1px solid #f4f4f4;
  border-radius: 5px;
  padding: 5px;
  background-color: #f4f4f4;
  color: black;
  text-decoration: none;
}

header {
  background-color: var(--cor-principal);
  color: white;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

body {
  background-color: #f4f4f4;
  color: #333;
  text-align: center;
  padding: 20px;
 background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* camada escura */
    url("https://wallpapers.com/images/hd/hotel-background-5jpqs0sw51owiprj.jpg"); /* imagem */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#main {

    

  margin: 0 auto;
  width: 30%;
  background-color: var(--cor-principal);
  border-radius: 10px;
 
  padding: 20px;
}
h2 {
  align-self: center;
  margin-bottom: 15px;
  color: #fff;
}
form {
  display: flex;
  gap: 15px;
  flex-direction: column;
  background-color: var(--cor-principal);
  align-items: start;
}
label {
  color: #fff;
}

input {
  background-color: #fafafa;
  border-radius: 10px;
  border: none;
  padding: 5px;
  outline: none;
}
button {
  width: 40%;
  background-color: #f0f0f0;
  border-radius: 15px;
  padding: 5px;
  border: none;
  align-self: center;
  color: black;
}

button:hover {
  cursor: pointer;
  background-color: var(--cor-hover-butao);
  
}

@media (max-width: 480px) {
  #main{
  width: 89%;

  header{
    margin: 0;
    padding: 0;
  }
 }
}

@media (min-width: 481px) and (max-width: 768px) {
  #main{
    width: 70%;
  }
}
