body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    
    
}
#main {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(156, 148, 148) ;
    border-radius: 10px;
    padding: 10px;
    gap: 20px;
}



