*{
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../image/background-login.jpg);
  background-size: 1250px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#main {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 30px;
  border-radius: 5px;
  max-width: 250px;
  width: 100%;
}

#main h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #898E79;
  font-size: 250%;
}

button {
  width: 100%;
  padding: 15px;
  margin: 15px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}
input {
  width: 100%;
  margin: 15px 0;
  height: 20px;
  padding: 15px;
  font-size: 18px;
  padding-left: 45px;
  padding-top: 18px;
  background-position: 20px;
  border: none;
  border-radius: 40px;
  box-sizing: border-box;
  outline: none;
}

button {
  background-color: #898E79;
  border-radius: 40px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: none;
  font-weight: bold;

}
input#email {
  background-image: url(../image/icone-usuario.png);
  background-size: 11px;
  background-repeat: no-repeat;
  font-size: 16px;
}

input#senha {
  background-image: url(../image/icone-cadeado.png);
  background-size:11px ;
  background-repeat: no-repeat;
  font-size: 14px;
  
}

button:hover {
  background-color: #aca3a3;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #FFBE6A;
}
p {
  text-align: center;
  margin-top: 10px;
  color: #898E79;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
