body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d3caca;
  padding: 20px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#cadastro {
  background-color: #fff;
  padding: 30px;
  border: 2px solid #333;
  border-radius: 15px;
  max-width: 400px;
  width: 100%;
}

#cadastro h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 250%;
}

button {
  width: 100%;
  padding: 15px;
  margin: 15px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}
input {
  width: 100%;
  margin: 15px 0;
  padding: 15px;
  font-size: 18px;
  padding-left: 40px;
  padding-top: 18px;
  background-position: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

button {
  background-color: #b3a5a5;
  color: #fff;
  border: none;
  font-weight: bold;
}
input#email {
  background-image: url(../image/icone-usuario.png);
  background-repeat: no-repeat;
}

input#senha {
  background-image: url(../image/icone-cadeado.png);
  background-repeat: no-repeat;
}

button:hover {
  background-color: #8e7d7d;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: blue;
}
p {
  text-align: center;
  margin-top: 10px;
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
