:root {
    --cor-principal: rgb(61, 156, 144,0.97);
    --cor-hover-butao: #FFE574;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../image/background-login.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#formulario {
  background-color: var(--cor-principal);
  padding: 30px;
  border-radius: 15px;
  max-width: 400px;
  width: 100%;
}

#formulario h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 250%;
}

input,
button {
  width: 100%;
  height: 20px;
  padding: 15px;
  margin: 15px 0;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-sizing: border-box;
  outline: none;
}

button {
  background-color: #ffffff;
  color: #000000;
  border: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: var(--cor-hover-butao);
  cursor: pointer;
}

.mensagem {
  color: red;
  text-align: center;
}

.sucesso {
  color: green;
  text-align: center;
}

.DivCep {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

#cep {
  flex: 1 1 45%;
}

#UF {
  flex: 1 1 20%;
  background-color: #fff;
}

#Logradouro {
  flex: 1 1 75%;
  background-color: #fff;
}

#Cidade {
  flex: 1 1 45%;
  background-color: #fff;
}

#formulario a {
  color: var(--cor-hover-butao);
  text-decoration: none;
}

#formulario p {
  text-align: center;
  margin-top: 10px;
  color: #fff;
}

#formulario a:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {
  #formulario {
    padding: 20px;
    width: 89%;
  }

  #formulario h2 {
    font-size: 200%;
  }

  .DivCep {
    flex-direction: column;
  }

  #cep,
  #UF,
  #Logradouro,
  #Cidade {
    width: 100%;
    flex: 1 1 100%;
  }

  input,
  button {
    padding: 12px;
    margin: 10px 0;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  #formulario {
    padding: 25px;
  }

  #formulario h2 {
    font-size: 220%;
  }

  .DivCep {
    gap: 10px;
  }

  #cep,
  #UF,
  #Logradouro,
  #Cidade {
    flex: 1 1 45%;
  }
}
